/* body {
    background-color: #34B4D9;
    text-align: center;
}



 #hunger {

    height: 20px;
    width: 200.2px;
    margin-top: -5px;
    margin-right: 10px;
    text-align: center;
    float: left;
} 
#sleep {

    height: 20px;
    width: 200.2px;
    margin-top: -5px;
    margin-right: 10px;
    text-align: center;
    float: left;
} 

#clean {

    height: 20px;
    width: 200.2px;
    margin-top: -5px;
    margin-right: 10px;
    text-align: center;
    float: left;
} 

#happy {

    height: 20px;
    width: 200.2px;
    margin-top: -5px;
    margin-right: 10px;
    text-align: center;
    float: left;
} 
/* This is the feed button */
/* #hungerfeed {
    position: relative;
    right: -9.75em;
    top: -1.5em;
} */



/* #happiness {
    height: inherit;
    width: inherit;
    background-color: yellow;
    
}

#cleanliness {
    height: inherit;
    width: inherit;
    background-color: darkblue;
}

/* #sleep {
    height: inherit;
    width: inherit;
    background-color: purple;
} */




/* #Question { 
    font-weight: bold;
  } */

/* #leftEye{
    animation: blinking 3s infinite;

}

#rightEye{
    animation: blinking 3s infinite;
}

@keyframes blinking {
0% {transform: scale (1,1);}
5% {transform: scale (1, 0.1);}
10% {transform: scale (1,1);}
100% {transform: scale (1,1);}
} */

/* grid-area: row-start col-start row-end col-end; */
/* z-index allows overlap of layers */
/* responsive grid using auto fit */
/* .container {
    display: grid;
    height: 600p;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(auto-fit, minmax)(100px, 1fr); */
/* grid-template-areas: 
    'header header'
    'main aside'
    'footer footer'; */
  
    body {
    background-color: #fdf4dc
}

#petName {
    font-size: 65px;
}

#petStatus {
    font-size: 47px;
}

.stat {
    display: flex;
    align-items: center;
    gap: 0.4em;
    margin-bottom: -20px;
    margin-right: 40px;
}
.stat meter{
    height: 50px;
    width: 120px;
}
.stat p{
    font-size: 40px;
}

.container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    height: 100vh;
    width: 100vw;
}

.item-1 {
    grid-area: 1 / 2 / 2 / 6;
    align-self: start;
    justify-self: center;
}

.item-2 {
    grid-area: 1 / 3 / 2 / 4;
    align-self: center;
    justify-self: center;
    display: flex;
}

.item-3 {
    grid-area: 3 / 3 / 4 / 4;
    align-self: center;
    justify-self: center;
}


.item-4 {
    grid-area: 2 / 3 / 3 / 6;
    align-self: end;
    justify-self: center;
}

.item-5 {
    grid-area: 4 / 3 / 4 / 4;
    justify-self: center;
    align-self: start;
    display: flex;
    gap: 1em;
}

.item-5 button {
    border-radius: 0.6rem;
    width: 150px;
    padding: 0.313rem;
    height: 100px;
    font-size: 29px;
    background-color: #e5f5f4;
    border: 2px solid lightblue;
    margin-top: 10px;
}
 

.item-6 {
    grid-area: 3 / 4 / 4 / 6;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.item-7 {
    grid-area: 3 / 5 / 4 / 6;
    align-self: end;
}

#userText{
    border-radius: 10px;
    padding: 5px;
    height: 45px ;
    width: 300px;
    font-size: 50px;
    border: 3px solid black;
    margin-top: 50px;
}

#setName{
height: 60px;
width: 150px;
font-size: 40px;
background-color: #e5f5f4 ;
border-radius: 10px;
margin-top: 50px;
}




/* To change item 4 css flex can be used once learnt */
